[submodule "F-Sy-H"]
	path = F-Sy-H
	url = https://github.com/z-shell/F-Sy-H
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-vi-mode"]
	path = zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
